<html>
<head>
  <link rel="stylesheet" href="stylesheets/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<title>inlayuhsterms</title>
<body>
  <div class="container-fluid">
      <img src="images/ILT_Logo.png" class="img-responsive center-block" /><br /><br />
      <p class="text-center">Coming soon! In the meantime, please visit any of my social media sites in one of the links below:</p>
      <p class="text-center">Facebook</p>
      <p class="text-center">Twitter</p>
      <p class="text-center">Instagram</p>
  </div>
</body>
</html>
